<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Malate Literary Folio Inventory System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">

    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">

    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="css/cssStyle.css" />

    <script src="js/script.js"></script>

</head>
<body>
    <div id="mainPageBox">
        <div id="upperSection" class="container mt-4">
            <div class="card d-flex flex-row bg-secondary text-light" style="width: 69.3rem; height: 10rem;">
                <div id="salesCounter" class="d-flex flex-col text-center">
                    <div id="soldCounter" class="col">
                        <h1 id="counterNumber" class="font-weight-bold">300</h1>
                        <h5 id="textLabel">sold</h5>
                    </div>
                    <div id="dayCounter" class="col">
                        <h1 id="counterNumber" class="font-weight-bold">1</h1>
                        <h5 id="textLabel">day left</h5>
                    </div>
                    <div id="hoursCounter" class="col">
                        <h1 id="counterNumber" class="font-weight-bold">10</h1>
                        <h5 id="textLabel">hours left</h5>
                    </div>
                    <div id="folioCounter" class="col">
                        <h1 id="counterNumber" class="font-weight-bold">400</h1>
                        <h5 id="textLabel">folios given</h5>
                    </div>
                </div>

                <div id="userMenuIcon">
                    <img id="logoImageGrey" src="photo/logo-grey.png">
                </div>

                <div id="userMenu" class="d-flex flex-col text-left">
                    <div id="userIcon" class="col">
                        <img id="userIconImage" src="photo/icon-user.png">
                    </div>
                    <div id="userNameandArrow" class="d-flex flex-col justify-content-left">
                        <div class="nav-item dropdown">
                            <a id="userMenuDropdown" class="nav-link dropdown-toggle text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                User
                            </a>
                            <div class="dropdown-menu dropdown-menu-right mt-4" aria-labelledby="userMenuDropdown">
                                <a class="dropdown-item" href="#">Settings</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="../login">Log out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="lowerSection" class="container d-flex flex-row mt-4">
            <div id="artistsList" class="card p-2" style="width: 60rem;">

            </div>
            <div id="leftMenu" class="card p-3" data-spy="scroll" data-offset="0" style="width: 20rem;">
                <div id="addMenu" class="nav-item">
                    <h6 class="text-center">add</h6>
                    <a id="addArtist" href="#" class="nav-link" data-toggle="modal" data-target="#addArtistWindow">Add artist</a>
                    <a id="addItem" href="#" class="nav-link" data-toggle="modal" data-target="#addItemWindow">Add item</a>
                    <a id="addBundle" href="#" class="nav-link" data-toggle="modal" data-target="#addBundleWindow">Add bundle</a>
                </div>
                <hr />
                <div id="salesReportSection" class="nav-item">
                    <h6 class="text-center">sales report</h6>
                    <a id="currentSalesReport" href="#" class="nav-link" data-toggle="modal" data-target="#salesReportWindow">Current sales report</a>
                </div>
                <hr />
                <div id="exportData" class="nav-item">
                    <div class="custom-file">
                        <form>
                            <input id="exportDataInput" type="file" class="custom-file-input" />
                            <label class="custom-file-label" for="exportDataInput">Export data</label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="addArtistWindow" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <form id="artistSelect" class="form" method='POST' action="/addArtist">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group mb-2">
                            <label for="newArtistName" class="font-weight-normal">artist name</label>
                            <input id="newArtistName" class="form-control" name="newArtistName" type="text" />
                        </div>
                        <div class="form-group mb-2">
                            <label for="newArtistIDNo" class="font-weight-normal">artist ID number</label>
                            <input id="newArtistIDNo" class="form-control" name="newArtistIDNo" type="text" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input class="btn btn-secondary btn-sm col-2" type="submit" value="save">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="addItemWindow" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <form id="artistSelect" class="form" method='POST' action="/addItem">
                <div class="modal-content bg-secondary">
                    <div class="modal-header">
                        <div id="artistSelectSection">
                            <select id="artistsListDropdown" class="form-control" name="selectedArtist">
                                <option value="" disabled selected>select artist</option>
                            </select>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body bg-light">
                        <div id="artistItemsSection">
                            <div id="otherInputSection" class="d-flex flex-col">
                                <div id="textFields" style="width: 500px;">
                                    <div class="form-group mb-2">
                                        <label for="newItemName" class="font-weight-normal mr-2">item name</label>
                                        <input id="newItemName" class="form-control col-10" type="text" />
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="newPriceStock" class="font-weight-normal mr-2">price</label>
                                        <input id="newPriceStock" class="form-control col-10" type="number" />
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="newStockQuantity" class="font-weight-normal mr-2">quantity</label>
                                        <input id="newStockQuantity" class="form-control col-10" type="number" />
                                    </div>
                                </div>
                                <div id="itemPhotoPicker" class="m-4">
                                    <div class="d-flex justify-content-center">
                                        <img id="newItemPhoto" src="photo/item-photo.png" />
                                    </div>
                                    <div class="custom-file mt-2">
                                        <input id="itemPhotoPickerInput" type="file" class="custom-file-input" />
                                        <label class="custom-file-label " for="itemPhotoPickerInput">Choose photo</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer bg-light">
                        <input id="saveOrder" class="btn btn-secondary btn-sm col-2" type="button" data-dismiss="modal" value="save" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="addBundleWindow" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <form id="artistSelect" class="form" method='POST' action="/addItem">
                <div class="modal-content bg-secondary">
                    <div class="modal-header">
                        <div id="artistSelectSection">
                            <select id="artistsListDropdown" class="form-control" name="selectedArtist">
                                <option value="" disabled selected>select artist</option>
                            </select>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body bg-light">
                        <div id="artistItemsSection">
                            <div id="otherInputSection">
                                <div id="bundleInfoSection" class="d-flex flex-col">
                                    <div id="textFields" style="width: 500px;">
                                        <div class="form-group mb-2">
                                            <label for="newItemName" class="font-weight-normal mr-2">item name</label>
                                            <input id="newItemName" class="form-control col-10" type="text" />
                                        </div>
                                        <div class="form-group mb-2">
                                            <label for="newPriceStock" class="font-weight-normal mr-2">price</label>
                                            <input id="newPriceStock" class="form-control col-10" type="number" />
                                        </div>
                                        <div class="form-group mb-2">
                                            <label for="newStockQuantity" class="font-weight-normal mr-2">quantity</label>
                                            <input id="newStockQuantity" class="form-control col-10" type="number" />
                                        </div>
                                    </div>
                                    <div id="itemPhotoPicker" class="m-4">
                                        <div class="d-flex justify-content-center">
                                            <img id="newItemPhoto" src="photo/item-photo.png" />
                                        </div>
                                        <div class="custom-file mt-2">
                                            <input id="itemPhotoPickerInput" type="file" class="custom-file-input" />
                                            <label class="custom-file-label " for="itemPhotoPickerInput">Choose photo</label>
                                        </div>
                                    </div>
                                </div>
                                <div id="bundleItemsSection">
                                    <div class="form-group">
                                        <label for="artistItemsSection" class="font-weight-normal">select bundle items</label>
                                        <div id="artistItemsSection" class="card" style="height: 10rem; width: 100%;" data-spy="scroll" data-offset="0">

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer bg-light">
                        <input id="saveOrder" class="btn btn-secondary btn-sm col-2" type="button" data-dismiss="modal" value="save" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="salesReportWindow" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <form id="salesReportForm" method='' action="">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Current sales report</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body bg-light">
                        <table id="soldItemsTable" class="table table-bordered">
                            <thead class="thead bg-secondary text-light">
                                <tr>
                                    <th scope="col">Item/Bundle</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity sold</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <table id="totalSalesTable" class="table">
                            <tr>
                                <td class="font-weight-bold" scope="col">Total</td>
                                <td scope="col">0.00</td>
                            </tr>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer bg-light">
                        <input id="saveOrder" class="btn btn-secondary btn-sm col-2" type="submit" value="export data" />
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>
</html>