<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Malate Literary Folio Inventory System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">

    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">

    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="../css/cssStyle.css" />


</head>
<body>
    <div id="mainPageBox">
        <div id="upperSection" class="container mt-4">
            <div class="card d-flex flex-row bg-secondary text-light" style="width: 69.3rem; height: 10rem;">
                <div id="salesCounter" class="d-flex flex-col text-center">
                    <div id="soldCounter" class="col">
                        <h1 id="counterNumber" class="font-weight-bold">300</h1>
                        <h5 id="textLabel">sold</h5>
                    </div>
                    <div id="dayCounter" class="col">
                        <h1 id="counterNumber" class="font-weight-bold">1</h1>
                        <h5 id="textLabel">day left</h5>
                    </div>
                    <div id="hoursCounter" class="col">
                        <h1 id="counterNumber" class="font-weight-bold">10</h1>
                        <h5 id="textLabel">hours left</h5>
                    </div>
                    <div id="folioCounter" class="col">
                        <h1 id="counterNumber" class="font-weight-bold">400</h1>
                        <h5 id="textLabel">folios given</h5>
                    </div>
                </div>

                <div id="userMenuIcon">
                    <img id="logoImageGrey" src="../photo/logo-grey.png">
                </div>

                <div id="userMenu" class="d-flex flex-col text-left">
                    <div id="userIcon" class="col">
                        <img id="userIconImage" src="../photo/icon-user.png">
                    </div>
                    <div id="userNameandArrow" class="d-flex flex-col justify-content-left">
                        <div class="nav-item dropdown">
                            <a id="userMenuDropdown" class="nav-link dropdown-toggle text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                User
                            </a>
                            <div class="dropdown-menu dropdown-menu-right mt-4" aria-labelledby="userMenuDropdown">
                                <a class="dropdown-item" href="#">Settings</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="../login">Log out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="lowerSection" class="container d-flex flex-row mt-4">
            <div id="artistsList" class="card p-2" style="width: 60rem;">

            </div>
            <div id="leftMenu" class="card p-3" style="width: 20rem;">
                <div id="newOrderButtonSection" class="nav-item text-center mb-2">
                    <button id="newOrderButton" class="btn btn-secondary btn-md col-11" data-toggle="modal" data-target="#newOrderWindow">new order</button>
                </div>
                <hr />
                <div id="addMenu" class="nav-item">
                    <h6 class="text-center">add</h6>
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#addArtistWindow">Add artist</a>
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#addItemWindow">Add item</a>
                </div>
                <hr />
                <div id="promoSection" class="nav-item">
                    <h6 class="text-center">promos</h6>
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#financialWindow">Create sale</a>
                </div>
                <hr />
                <div id="stocksSection" class="nav-item">
                    <h6 class="text-center">stocks</h6>
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#financialWindow">Restock item</a>
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#financialWindow">Reserve stocks</a>
                </div>
                <hr />
                <div id="exportData" class="nav-item">
                    <div class="custom-file">
                        <form>
                            <input id="exportDataInput" type="file" class="custom-file-input" />
                            <label class="custom-file-label" for="exportDataInput">Export data</label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="newOrderWindow" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <form id="artistSelect" class="form" method = 'POST' action="/orderCheckOut">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body d-flex flex-col">
                        <div id="buyItemSection" class="card" style="width: 60rem; height: 30rem;">
                            <div id="buyArtistSection" class="card-header bg-secondary">
                                <select id="artistsListDropdown" class="form-control" name="selectedArtist">
                                    <option value="" disabled selected>select artist</option>
                                </select>
                            </div>
                            <div id="buyItemSection" class="card-body">

                            </div>
                        </div>
                        <div id="checkoutSection" class="card p-4" style="width: 20rem;">
                            <h5 class="card-title">items</h5>
                            <table id="checkoutItemsList">
                                <tr>
                                    <td>item 1</td>
                                    <td>20</td>
                                </tr>
                                <tr>
                                    <td>item 1</td>
                                    <td>20</td>
                                </tr>
                            </table>
                            <table id="totalItems" class="card-title">
                                <tr>
                                    <th>total</th>
                                    <th>20</th>
                                </tr>
                            </table>
                            <input class="btn btn-secondary col-sm-8 mt-1 ml-3" type="submit" value="check out">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="addArtistWindow" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <form id="artistSelect" class="form" method = 'POST' action="/addArtist">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="form-group mb-2">
                            <label for="newArtistName" class="font-weight-normal">artist name</label>
                            <div class="d-flex flex-col">
                                <input id="newArtistName" class="form-control" name="newArtistName" type="text"/>
                                <input id="addItemButton" class="btn btn-secondary btn-sm col-4 ml-2" value="add item" type="button" data-toggle="modal" data-target="#addItemWindow"/>
                            </div>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="artistItemsSection" class="font-weight-normal">select item</label>
                            <div id="artistItemsSection" class="card" style="height: 18rem; width: 47.5rem;" data-spy="scroll" data-offset="0">

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input class="btn btn-secondary btn-sm col-2" type="submit" value="save">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="addItemWindow" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form id="artistSelect" class="form" method = 'POST' action="/addItem">
                <div class="modal-content bg-secondary">
                    <div class="modal-header">
                        <div id="artistSelectSection">
                            <select id="artistsListDropdown" class="form-control" name="selectedArtist">
                                <option value="" disabled selected>select artist</option>
                            </select>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body bg-light">
                        <div id="artistItemsSection">
                            <div id="otherInputSection">
                                <div id="textFields">
                                    <div class="form-group mb-2">
                                        <label for="newItemName" class="font-weight-normal mr-2">item name</label>
                                        <input id="newItemName" class="form-control col-8"type="text" />
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="newPriceStock" class="font-weight-normal mr-2">price</label>
                                        <input id="newPriceStock" class="form-control col-8" type="number" />
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="newStockQuantity" class="font-weight-normal mr-2">quantity</label>
                                        <input id="newStockQuantity" class="form-control col-8" type="number" />
                                    </div>
                                </div>
                                <div id="itemPhotoPicker">
                                    <div class="custom-file">
                                        <input id="itemPhotoPickerInput" type="file" class="custom-file-input" />
                                        <label class="custom-file-label" for="itemPhotoPickerInput">Choose photo</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer bg-light">
                        <input id="saveOrder" class="btn btn-secondary btn-sm col-2" type="button" data-dismiss="modal" value="save"/>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="financialWindow" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form id="existingItemSelect" method = 'POST' action="/addPromo">
                <div class="modal-content bg-secondary">
                    <div class="modal-header">
                        <div id="artistSelectSection">
                            <select id="artistsListDropdown" class="form-control" name="financeSelectedArtist">
                                <option value="" disabled selected>select artist</option>
                            </select>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body bg-light">
                        <div id="artistItemsSection">
                            <div id="otherInputSection">
                                <div id="itemList">
                                    <div class="form-group">
                                        <label for="financialItemList" class="font-weight-normal">select item</label>
                                        <div id="financialItemList" class="card" style="height: 20rem;" data-spy="scroll" data-offset="0">

                                        </div>
                                    </div>
                                </div>
                                <div id="textFields">
                                    <div class="form-group">
                                        <label for="newPriceStock" class="font-weight-normal">price</label>
                                        <input id="newPriceStock" class="form-control" type="number" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer bg-light">
                        <input id="saveOrder" class="btn btn-secondary btn-sm col-2" type="submit" value="save"/>
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>
</html>