<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Malate Literary Folio Inventory System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">

    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">

    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="../public/css/cssStyle.css" />
    <script src="js/jsFunctions.js"></script>
</head>
<body>
    <div id="mainPageBox">
        <div id="upperSection" class="container mt-4">
            <div class="card d-flex flex-row bg-secondary text-light" style="width: 69.3rem; height: 10rem;">
                <div id="salesCounter" class="d-flex flex-col text-center">
                    <div id="soldCounter" class="col">
                        <h1 id="counterNumber" class="font-weight-bold">300</h1>
                        <h5 id="textLabel">sold</h5>
                    </div>
                    <div id="dayCounter" class="col">
                        <h1 id="counterNumber" class="font-weight-bold">1</h1>
                        <h5 id="textLabel">day left</h5>
                    </div>
                    <div id="hoursCounter" class="col">
                        <h1 id="counterNumber" class="font-weight-bold">10</h1>
                        <h5 id="textLabel">hours left</h5>
                    </div>
                    <div id="folioCounter" class="col">
                        <h1 id="counterNumber" class="font-weight-bold">400</h1>
                        <h5 id="textLabel">folios given</h5>
                    </div>
                </div>

                <div id="userMenuIcon">
                    <img id="logoImageGrey" src="../public/photo/logo-grey.png">
                </div>

                <div id="userMenu" class="d-flex flex-col text-left">
                    <div id="userIcon" class="col">
                        <img id="userIconImage" src="../public/photo/icon-user.png">
                    </div>
                    <div id="userNameandArrow" class="d-flex flex-col mt-3">
                        <h5 id="textLabel" class="mr-3">User</h5>
                        <div id="userMenuArrow">
                            <button type="button" class="close" aria-label="User Menu">
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="lowerSection" class="container d-flex flex-row mt-4">
            <div id="artistsList" class="card p-2" style="width: 60rem;">

            </div>
            <div id="leftMenu" class="card p-3" style="width: 20rem;">
                <div id="newOrderButtonSection" class="nav-item text-center mb-2">
                    <button id="newOrderButton" class="btn btn-secondary btn-md col-11">New Order</button>
                </div>
                <hr />
                <div id="addMenu" class="nav-item">
                    <h6 class="text-center">add</h6>
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#addArtistWindow">Add artist</a>
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#addItemWindow">Add item</a>
                </div>
                <hr />
                <div id="promoSection" class="nav-item">
                    <h6 class="text-center">promos</h6>
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#financialWindow">Create sale</a>
                </div>
                <hr />
                <div id="stocksSection" class="nav-item">
                    <h6 class="text-center">stocks</h6>
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#financialWindow">Restock item</a>
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#financialWindow">Reserve stocks</a>
                </div>
                <hr />
                <div id="exportData" class="nav-item">
                    <div class="custom-file">
                        <form>
                            <input id="exportDataInput" type="file" class="custom-file-input" />
                            <label class="custom-file-label" for="exportDataInput">Export data</label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="newOrderWindow">
        
    </div>

    <div id="addArtistWindow" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form id="artistSelect" class="form-inline">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="form-group mb-2">
                            <label for="newArtistName" class="font-weight-normal">artist name</label>
                            <input id="newArtistName" class="form-control" name="newArtistName" type="text" />
                            <input id="addItemButton" class="btn btn-secondary btn-sm col-3" value="add item" type="button" />
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="artistItemsSection">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <input class="btn btn-secondary btn-sm col-2" type="submit" value="save">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="addItemWindow" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form id="artistSelect" class="form-inline">
                <div class="modal-content bg-secondary">
                    <div class="modal-header">
                        <div id="artistSelectSection">
                            <select id="artistsListDropdown" class="form-control" name="selectedArtist">
                                <option value="" disabled selected>select artist</option>
                            </select>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body bg-light">
                        <div id="artistItemsSection">
                            <div id="otherInputSection">
                                <div id="textFields">
                                    <div class="form-group mb-2">
                                        <label for="newItemName" class="font-weight-normal">item name</label>
                                        <input id="newItemName" class="form-control"type="text" />
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="newPriceStock" class="font-weight-normal">price</label>
                                        <input id="newPriceStock" class="form-control" type="number" />
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="newStockQuantity" class="font-weight-normal">quantity</label>
                                        <input id="newStockQuantity" class="form-control" type="number" />
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer bg-light">
                        <input id="saveOrder" class="btn btn-secondary btn-sm col-2" type="button" value="save"/>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="financialWindow" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form id="existingItemSelect">
                <div class="modal-content bg-secondary">
                    <div class="modal-header">
                        <div id="artistSelectSection">
                            <select id="artistsListDropdown" class="form-control" name="financeSelectedArtist">
                                <option value="" disabled selected>select artist</option>
                            </select>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body bg-light">
                        <div id="artistItemsSection">
                            <div id="otherInputSection">
                                <div id="itemList">
                                    <div class="form-group">
                                        <label for="financialItemList" class="font-weight-normal">select item</label>
                                        <div id="financialItemList" class="card" data-spy="scroll" data-offset="0">

                                        </div>
                                    </div>
                                </div>
                                <div id="textFields">
                                    <div class="form-group">
                                        <label for="newPriceStock" class="font-weight-normal">price</label>
                                        <input id="newPriceStock" class="form-control" type="number" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer bg-light">
                        <input id="saveOrder" class="btn btn-secondary btn-sm col-2" type="button" value="save" />
                    </div>
                </div>
            </form>
        </div>
        
        <!--<form id="artistSelect">
            <div id="artistSelectSection">
                <label for="newArtistName"></label>
                <input id="newArtistName" name="newArtistName" type="text" />
                <input value="add item" type="button" />
            </div>
            <div id="itemOptionsSection">
                <div id="artistItemsSection">

                </div>
                <label for="numberExistingItemInput"></label>
                <input id="numberExistingItemInput" name="numberExistingItemInput" type="number" />
                <input id="saveOrder" type="button" />
            </div>
        </form>-->
    </div>

</body>
</html>