/*login.html*/
#loginPage {
    background-color: black;
    color: white;
}

#loginBox {
    margin-top:7%;
    width: 380px;
}

#loginForm > div {
    padding-top: 13px;
}

#loginForm > div > label{
    font-size: 24px;
}

#logoImage{
    width: 37%;
    height: auto;
    margin-bottom: 10px;
}

#loginButton{
    margin-top: 30px;
}

/*main.html*/
#upperSection .card{
    padding: 20px;
}

#salesCounter{
    width: 60%;
    margin-right: 55px;
    margin-top: 5px;
}

#salesCounter h1{
    font-size: 56px;
}

#salesCounter h5, #leftMenu, #userMenuDropdown, #userNameandArrow .dropdown-menu {
    font-size: 19px;
}

#userMenuIcon{
    margin-bottom:10px;
}

#logoImageGrey {
    width: 118px;
    height: auto;
}

#userMenu{
    margin-top: 30px;
    margin-left: 50px;
}

#userIconImage {
    width: 60px;
    height: auto;
}

#userMenuDropdown {
    margin-top: 8px;
}

.fa-chevron-down {
    color: white;
}

#lowerSection{
    margin-bottom: 45px;
}

#lowerSection #leftMenu {
    margin-left: 20px
}

#newOrderButton{
    font-size: 24px;
}

#exportData {
    margin-top: 60px;
}

/*modals new order*/
#checkoutItemsList{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#buySection{
    margin-right: 20px;
}

/*
* admin.html
*/
/*modal manage artist*/

/*modal manage item*/
#newItemPhoto {
    width: 69%;
    height: auto;
}

#artistSelectSection {
    margin-left: 130px;
    width: 500px;
}

