body {
    
}
/*login.html*/
#loginPage {
    background-color: black;
    color: white;
}

#loginBox {
    margin-top:7%;
    width: 380px;
}

#loginForm > div {
    padding-top: 13px;
}

#logoImage{
    width: 37%;
    height: auto;
    margin-bottom: 10px;
}

#loginButton{
    margin-top: 30px;
}

/*#loginForm .form-group {
    margin-top: 10px;
}*/
